<!--REQUEST_URI='+self.request.path+"-->
 "\n<!--\n"
#         result += 'L '+VERSION+"\n"
#         result += 'REMOTE_ADDR='+self.request.remote_addr+"\n"
#         result += 'request_uri='+self.request_uri+"\n"
#         result += 'charset='+@charset+"\n"
#         result += 'is_static='+@is_static.to_s+"\n"
#         result += 'multi_site='+@multi_site.to_s+"\n"
#         result += 'file change date='+self.file_change_date.to_s+"\n"
#         result += 'lc_file_size='+self.file_size.to_s+"\n"
#         result += 'lc_links_count='+self.links_count.to_s+"\n"
#         result += 'left_links_count='+self.links_page.size.to_s+"\n"
#         result += 'n='+n.to_s+"\n"
#         result += '-->'